<% @artists.each do |artist| %>

<h2><%= artist.name%></h2>




<%# <% @books.each do |book| %>
  <h2>
    <!-- Inject the value of this book's id into this link's URL in order to get a link to the show route for this particular book e.g. if this book had an id of 1, the URL would become /books/1. -->
    <a href="/books/<%= book.id %>"><%= book.title %></a>
  </h2>

  <h3>by <%= book.author%></h3>
  <p><%= book.snippet %></p>
<% end %> %>

  it "displays a list of artists" do
        expect(page).to have_content(artist_name)
      end

      it "contains links to each artist's show page" do
        expect(page).to have_css("a[href='/artists/#{@artist.slug}']")
      end
    end